<<<<<<< HEAD
span{
    background-color: black;
}
div {
    background-color: green;
}
body{
    margin: 0;
    padding: 0;  
}
.container{
    display: flex;
    background-color: indianred;
    height: 10vh;
    flex-wrap: wrap;
    justify-content: center;
    
.container > div {
    flex: 0 0 33%;
    border: 10px solid green;
}
=======
.rectangle {
    border: 3px solid black;
    width: 100px;
    height: 100px;
}
>>>>>>> c2998a3c6033f0e5838c296d6511fabb810d4a7a
